
    
    .projects-card-item{
      position: relative;
      padding: 1em;
      border: 1px solid #212138;
      cursor: pointer;
      transition: $transition;
      .dot{
        position: absolute;
        transition: $transition;
        opacity: 0;
        &.dot-1{
          top: -.2em;
          right: -.2em;
        }
        &.dot-2{
          top: -.2em;
          left: -.2em;
        }
        &.dot-3{
          bottom: -.2em;
          right: -.2em;
        }
        &.dot-4{
          bottom: -.2em;
          left: -.2em;
        }
      }
      &:hover{
        background-color: rgba(28, 132, 252, 0.05);
        backdrop-filter: blur(2em);
        border: 1px solid $primary;
      .dot{
          opacity: 1;
        }
        .hide{
          opacity: 1 ;
        }
        .part{
          display: flex;
        }
      }
      &:hover + .hide{
        opacity: 1 ;
      }
      .content-card{
        margin-top: 20px;
        display: grid;
        align-content: space-between;
        .slug{
          background-color: #071c42;
          color: #1fa5fd;
          display: block;
          width: fit-content;
          padding: 2px 5px;
          margin-bottom: 12px;
        }
      }
      
    }

