.contact-us{
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;
    .clock-cover{
        position: absolute;
        width: 1600px;
        z-index: -1;
        left: -100px;
        top: -40px;
        object-fit: cover;
    }
    padding: 3rem;
    .section-card-title{
        span{
            font-size: 1.33333rem;
        }
    }
    video{
        position: absolute;
        width: 350px;
        border-radius: .845rem;
        margin: 0 auto;
        border-radius: 9999px;
        left: 223px;
        top: 70px;
    }
    
}
.field{
    position: relative;
    i{
        position: absolute;
        top:27px;
        transform: translateY(-50%);
        left: 15px;
    }
}
.iti {
    width: 100%;
  }
.iti__country-container{
    left: 5px;
    }
.iti__country-list{
    background-color: $cardBackground;
}
.iti--inline-dropdown .iti__dropdown-content{
    border: 1px solid $primary !important;
    z-index: 99 !important;
}
.iti__search-input{
    padding: 10px 20px !important;
}
input,textarea{
    // background-color: $cardBackground;
    background-color: transparent;
    width: 100%;
    border: none;
    padding: 15px 45px;
    color: $white;
    border: 1px solid #fff;
    border-radius: .825rem;
    &:focus{
        outline: none;
        box-shadow:  0 0 7px $primary,
        0 0 10px $primary;
      
    }
    &::placeholder{
        color: $textgray;
    }
}
textarea{
    height: 130px;
    resize: none;
}

.dir-ar{
    .field{
        i{
            left: auto;
            right: 15px;
        }
    }
    .iti__tel-input{
        text-align: right;
    }
    .iti__country-container{
        left: auto;
        right: 5px;
        }
}