.hero-cover{
    position: absolute;
    top: -110px;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
.hero-section {
    // background-color: $cardBackground;
    padding: 5rem 20px;
    border-radius: .875rem;
    overflow: hidden;
    position: relative;
    
    .info{
        position: relative;
        .title{
            color: $white;
            font-weight: 700;
            font-size: 30px;
            letter-spacing: 2px;
          
            @media (max-width:768px) {
                font-size: 20px;
                }
        }
        .description{
            font-size: 40px;
            font-weight: 700;
            @media (max-width:768px) {
            font-size: 25px;
            }
        }
    }
   
}
