.partner{
    padding: 50px 0;
    position: relative;
    overflow: hidden;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        width: 120px;
        height: 100%;
        z-index: 9;
        right: 0;
        background: linear-gradient(to left, $secondary, transparent);
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        width: 120px;
        height: 100%;
        z-index: 9;
        left: 0;
        background: linear-gradient(to right, $secondary, transparent);
    }

    .content{
        display: grid;
        place-content: center;
        .swiper-wrapper{
            transition-timing-function: linear !important;
        }
        .item{
            border-radius: 3px; 
            overflow: hidden;
            max-width: 200px !important;
            max-height: 200px !important;
            img{
                filter: grayscale(1);
                transition: $transition;
                &:hover{
                    filter: grayscale(0);
                }
            }
        }
    }
    
}