.partner{
    background-color: $cardBackground;
    padding: 3rem 0;
    border-radius: .875rem;
    position: relative;
    .content{
        display: flex;
        transition: transform 10s linear; /* Smooth transition */
        .swiper-wrapper{
            transition-timing-function: linear !important;
        }
        .item{
            border-radius: 3px; 
            overflow: hidden;
            max-width: 200px !important;
            max-height: 200px !important;
            img{
                filter: grayscale(1);
                transition: $transition;
                &:hover{
                    filter: grayscale(0);
                }
            }
        }
    }
    
}