footer{
    content-visibility: auto;
    background-color: $cardBackground;
    padding: 2rem 20px 1rem 20px;
    border-radius: .875rem;
    overflow: hidden;
    position: relative;
    min-height: 372px; 
    @media (max-width:758px) {
        text-align: center;
        *{
            text-align: center;
            justify-content: center;
            .info-address *{
                text-align: start;
                justify-content: flex-start;
            }
        }
    }
    .content{
        position: relative;
        z-index: 2;
        .title{
            text-transform: uppercase;
            font-weight: 800;
            &::first-letter{
                color: #fff;
                text-shadow:
                0 0 7px $primary,
                0 0 10px $primary,
                0 0 21px $primary,
                0 0 42px $primary,
                0 0 82px $primary,
                0 0 92px $primary,
                0 0 102px $primary,
            }
        }
        p{
            font-size: 1rem;
            color: $textgray;
        }
        h5{
            margin-bottom:1rem;
            @media (max-width:768px) {
                margin-bottom:.5rem;
            }
            font-weight: 800;
        }
        .info-address{
            i{
                font-size: 20px;
                margin-inline-end: 12px;
            }
        }
        ul{
            li{
                a{
                    font-size: 14px;
                    color: $textgray;
                    transition: .5s;
                   
                }
                &:hover{
                   a{
                    color: #fff !important;
                   }
                }
            }
        }
        .social{
            li{
                a{
                    margin-inline-end: 12px;
                    background-color: #334059;
                    border-radius: .825rem;
                    width: 45px;
                    height: 45px;
                    display: grid;
                    place-content: center;
                    transition: .5s;
                    &:hover{
                        background-color: #455878;
                    }
                }
                i{
                    font-size: 25px;
                }
            }
          
        }
        .bottom-footer{
            border-top: 1px solid rgb(51 64 89/1);
            p{
                text-align: center;
                font-weight: 500;
                margin-top: 0;
                margin-bottom: .5rem;
                font-size: 12px;
            }
        }
    }
   
}
.dir-ar{
    footer{
        ul {
            li{
                a{
                    font-size: 18px;
                }
            }
        }
        .bottom-footer {
            p{
                font-size: 14px;
            }
        }
    }   
    
}